@import "common.scss";
@import "_minix.scss";
.wrapper {
    width: 100%;
    height: 100%;
    background: #BCE4FD;
    @include box_flex;
    @include justify;
    .main {
        width: 73%;
        height: auto;
        margin-top: pxTorem(131px);
        @include direction(column);
        input {
            width: 100%;
            height: pxTorem(39px);
            background: #fff;
            border-radius: pxTorem(5px);
            margin-bottom: pxTorem(12px);
        }
        .list1 {
            width: 100%;
            height: pxTorem(50px);
            @include align;
            color: #AFBEC6;
            @include box_flex;
            @include justify(space-between);
            margin-bottom: pxTorem(12px);
        }
        button {
            width: 100%;
            height: pxTorem(39px);
            background: #4994F5;
            color: #fff;
            font-size: pxTorem(16px);
            border-radius: pxTorem(5px);
            margin-bottom: pxTorem(12px);
        }
        .list2 {
            width: 100%;
            height: pxTorem(40px);
            @include box_flex;
            @include justify;
            @include align;
            color: #AFBEC6;
            em {
                color: #4994F5;
            }
        }
    }
}